body {
    background: antiquewhite;
    font-family: "Inter";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    width: 70%;
}
h1 {
    font-size: 60px;
    margin: 30px 0 20px 0;
    text-align: center;
}
h2 {
    margin: 75px 0px 30px 0px;
    text-align: center;
}
p {
    font-size: 18px;
}
/* ID's */


/* PLANOS */
.planos-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.planos {
    margin: 0px 50px;
    background: #fff;
    border-color: #000;
    border: solid;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 28px;
}
p.valor {
    color: #156496;
    font-size: 25px;
    font-weight: bold;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    margin: 0% 35%;
}
label {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 12px 0;
}
input#nome, input#telefone, input#email, input#text {
    border: solid 3px;
    font-size: 18px;
    padding: 10px;
}
:focus {
    outline-offset: 2px;
}
/* BOTÃO */
.button {
    background: #fff;
    border-color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    padding: 12px;
    width: 150px;
}
.button:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    outline: navy dashed 2px;
    outline-offset: 2px
}

/* RESPONSIVO */
@media (max-width: 1140px) {
    form {margin: 0% 30%;}
}
@media (max-width: 960px) {
    h1 {
        font-size: 50px;
        margin: 20px 0 5px 0;
    }
}
@media (max-width: 768px) {
    form {margin: 0% 25%;}
}
@media (max-width: 480px) {
    h1 {
        font-size: 42px;
        margin: 25px 0 5px 0;
    }
    form {margin: 0% 15%;}
}
@media (max-width: 414px) {
    h1 {
        font-size: 38px;
        margin: 30px 0 15px 0;
    }
    form {margin: 0% 10%;}
    label {font-size: 18px;}
    input#nome, input#telefone, input#email, input#text {font-size: 15px;}
}